﻿
@{
    ViewBag.Title = "AddBlogPost";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Blog Yazısı Ekleme İşlemi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagesPart.cshtml")
            <script src="~/Scripts/ckeditor/ckeditor.js"></script>
            <div class="box box-primary">
                <!-- form start -->
                @using (Html.BeginForm("AddBlogPost", "BlogPost", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/BlogPostForm")
                }
            </div>
        </div>
    </div>
</section>
